[user]
  name = Joni Hasanen
  email = joni@pieceofcode.com
  signingkey = F6FBD66B087C9160
[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[color]
  branch = auto
  diff = auto
  status = auto
  ui = auto

[diff]
  tool = vimdiff
  compactionHeuristic = true

[merge]
  tool = vimdiff

[alias]
  # Will start a repo in this directory
  this = !git init && git add . && git commit -m \"initial commit\"

  # will put a file into gitignore
  ignore=!([ ! -e .gitignore ] && touch .gitignore) | echo $1 >>.gitignore
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit

[branch]
  autosetuprebase = always
[commit]
  template = ~/dotfiles/git/.git-commit-template
	gpgsign = true
[credential]
  helper = osxkeychain
[init]
	defaultBranch = main
[pull]
	rebase = true
